body{
	font-size: 16px;
	background-color: #FFF2E0;
}


#topheader {
	background-color: #317E93;
}

#topheader h1{
	color: #d9b44a; #D0BA8F;
	font-size: 3rem;
	font-family: Georgia, serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

#topheader a{
	text-decoration: none;
}


@media (max-width: 768px) { 
#topheader h1{
  font-size: 5vw;
}
}


.navbar {
	background-color: #D0BA8F;
	color: #FFFFFF;
}

.navbar-nav {
	margin: auto;
	color: #FFFFFF;
}

.navbar-nav a {
	color: #FFFFFF;
	font-family: Georgia; serif;
	font-size: 1.1em;

	margin-left: 20px;
	text-transform: uppercase;
}

.navbar-nav a:hover{
	color: #c08f00;
	background-color: ;
}


#firstblock {
	background-color: #FFF2DF;
}



.card-group .card {
	background-color: #FFF2E0;
	border: none;
	padding: 2%;
}
.card-group .card .card-img-top {
	width: 65%;
	margin: auto;
	box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-group .card .card-title {
	color: #317E93;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 2rem;
	text-align: center;
}




.container-fluid {
	background-color: #317E93;
}
.container-fluid .container-image {
	width: 80%;
	margin: 10%;
}
.container-fluid .col-md-7 {
	margin: auto;
	padding-right: 5%;
}
.container-fluid .col-md-7 h1{
	color: #d9b44a;
	font-size: 3.5rem;
	font-family: Georgia, serif;
	font-style: italic;
}
.container-fluid .col-md-7 p{
	color: #ffffff;
	font-size: 1.2rem;
	font-family: Georgia, serif;
}




.jumbotron {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 100%), url("../images/caslte_blois2-min.jpg");
	background-size: cover;
}

.jumbotron .container{
	margin-left: 5%;
	float: left;
	width: 60%;
	font-family: Georgia, serif;
}
.jumbotron .container .display-4 {
	font-size: 2.8em;
	margin-bottom: 20px;
	font-style: italic;
}

.jumbotron .container .btn {
	background-color: #E0876A;
	border: none;
	color: white;
	text-transform: uppercase;
}

.jumbotron .container .btn:hover {
	background-color: #F9CCAC;
	color: #c08f00;
}

.jumbotron .bookcover img {
	width: 20%;
	box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




