body{
	font-size: 16px;
	background-color: #FFF2E0;
}


#topheader {
	background-color: #317E93;
	background-image: url("../images/blue_baroque-min.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#topheader h1{
	color: #d9b44a; #D0BA8F;
	font-size: 3rem;
	font-family: 'Neuton', serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

#topheader a{
	text-decoration: none;
}


/* @MEDIA */
@media (max-width: 768px) {
#topheader h1{
  font-size: 5vw;
}
}

/* MENU NAVBAR */
.navbar {
	background-color: #D0BA8F;
	color: #FFFFFF;
}
.navbar-nav {
	margin: auto;
	color: #FFFFFF;
}

.navbar-nav a {
	color: #FFFFFF;
	font-family: 'PT Serif'; serif;
	font-size: 1.1em;
	margin-left: 20px;
	text-transform: uppercase;
}
.navbar-nav a:hover{
	color: #c08f00;
	background-color: ;
}



#firstblock {
	background-color: #FFF2DF;
}


/* BLOCK OF THREE CARDS */
.card-group .card {
	background-color: #FFF2E0;
	border: none;
	padding: 2%;
}
.card-group .card .card-img-top {
	width: 65%;
	margin: auto;
	box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-group .card .card-title {
	color: #317E93;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-size: 1.7rem;
	text-align: center;
}
.card-group .card .card-text {
	color: ;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2rem;
}




/* CARD image + text */
.container-fluid {
	background-color: #317E93;
}
.container-fluid .container-image {
	width: 70%;
	margin: 10%;
}
.container-fluid .col-md-7 {
	margin: auto;
	padding-right: 5%;
}
.container-fluid .col-md-7 h1{
	color: #d9b44a;
	font-size: 3.5rem;
	font-family: 'PT Serif', serif;
	font-style: italic;
}
.container-fluid .col-md-7 p{
	color: #ffffff;
	font-size: 1.2rem;
	font-family: 'Alegreya Sans', sans-serif;
}


/* CARD image ON THE RIGHT + text ON THE LEFT */
.imgRight{
	background-color: #FFF2E0;
}
.container-fluid .container-image .imgRight{
	width: 60%;
	margin: 5%;
}
#textLeft{
	margin: auto;
	padding-left: 5%;
}
#textLeft h1{
	color: #d9b44a;
	font-size: 3.5rem;
	font-family: 'PT Serif', serif;
	font-style: italic;
}
#textLeft p {
	color: black;
	font-size: 1.2rem;
	font-family: 'Alegreya Sans', sans-serif;
}





/* PRAISE */
.praise {
	background-color: #FFF2E0;
	padding: 2%;
}
.praise h1{
	color: #d9b44a;
	font-size: 2rem;
	font-family: 'PT Serif', serif;
	text-align: center;
}
.praisetext p{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5rem;
	font-style: italic;
	margin: 3%;
	color:#317E93;
	text-align: center;
	quotes: '"' '"' "'" "'";
}
.praisetext p:before {
  content: open-quote;
}
.praisetext p:after {
  content: close-quote;
}
.praise h2{
	color: #d9b44a;
	font-size: 1.5rem;
	font-family: 'PT Serif', serif;
	text-align: center;
	margin-top: -2%;
}

/* end of PRAISE */




/* footer */
.footer {
	background-color: #D0BA8F;
	padding: 2%;
}

.footer a:link, a:visited {
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.footer a:hover, a:active {
	color: grey;
}



/* all books in books */
.series-title{
	color: #317E93;
	font-family: 'PT Serif', serif;
	text-align: left;
	padding-top: 25px;
	margin-bottom: -20px;
}

.all-books{
	background-color: #FFF2E0;
}
.all-books .row .col-md-7 p{
	color:black;
}
.all-books .row .col-md-7 h2{
	color: #d9b44a;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	text-align: left;
	padding-top: 15px;
}
